@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Calibri', 'Gill Sans', 'Trebuchet MS', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}
